.Polaris-Page {
    max-width: none;
}

.select2-container .select2-selection--single {
    border: 1px solid #c4cdd5;
    border-radius: 3px;
    margin-top: 4px;
    height: 36px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 36px;
    top: 4px;
}

.select2-container .select2-selection__rendered {
    padding-top: 3px;
    padding-bottom: 3px;
}

.select2-container .select2-selection--multiple {
    min-height: 36px;
    border-radius: 3px;
    border: 1px solid #c4cdd5;
    margin-top: 4px;
}

.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #5c6ac4;
    box-shadow: inset 0 0 0 0 transparent, 0 0 0 1px #5c6ac4;
}

.manufacture-select-box.error .select2-selection--single,
.manufacture-select-box.error .select2-selection--multiple,
.brand-select-box.error .select2-selection--single,
.brand-select-box.error .select2-selection--multiple,
.rich-text-box.error .mce-panel {
    border-color: red !important;
}

.rich-text-box.disabled .mce-menubar,
.rich-text-box.disabled .mce-toolbar {
    display: none;
}

.sale-channel.connected .Polaris-AccountConnection__TermsOfService {
    margin-left: 56px !important;
}

setup.sale-channel .Polaris-Card {
    box-shadow: none;
}

.sale-channel .Polaris-DescriptionList__Term {
    white-space: nowrap;
}

.sale-channel .Polaris-Card__Section .Polaris-Button {
    margin-top: 23px;
}

.Polaris-Banner div.Polaris-Banner__Ribbon + div {
    width: calc(100% - 75px);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal.open {
    display: block;
}

.Polaris-PositionedOverlay {
    z-index: 101;
}

.Polaris-PositionedOverlay .Polaris-Choice__Descriptions {
    padding-left: 0;
}

.omna-dlg .Polaris-Card {
    width: 80%;
    position: fixed;
    left: 10%;
    border: 1px solid lightgray;
}

.omna-dlg.rows1 .Polaris-Card {
    top: calc(50% - 111px);
    height: 222px;
}

.omna-dlg.rows2 .Polaris-Card {
    top: calc(50% - 163px);
    height: 326px;
}

.omna-dlg.rows3 .Polaris-Card {
    top: calc(50% - 216px);
    height: 432px;
}

.omna-dlg .Polaris-Card .Polaris-Card__Section {
    overflow-y: auto;
    height: calc(100% - 90px);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-bottom: 4px;
}

.omna-dlg .Polaris-Banner__Content {
    padding: 0;
}

.omna-dlg .Polaris-FormLayout__Item .Polaris-Banner {
    height: 85px;
}

.new-property-dlg .Polaris-Card {
    border: 1px solid rgba(63, 63, 68, .15);
    border-radius: 6px;
}

.product.sale-channel .Polaris-FormLayout .Polaris-Card__Section {
    padding-top: 0px;
}

.Polaris-TextField--disabled > .Polaris-TextField__Backdrop {
    background-color: #eee;
}

.current-print-document {
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 100%;
    height: 85em;
}

.speech {
    position: relative;
    display: inline-block;
    top: -10px;
    font-weight: bold;
    font-size: 0.7em;
    font-family: cursive;
    line-height: 1.5em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

.speech .Polaris-Badge {
    border: none;
}

.speech.new .Polaris-Badge {
    background-color: darkblue;
    color: white;
}

.bulk .Polaris-Icon__Svg {
    width: 1em;
    padding-top: 2px;
}

.bulk .Polaris-Button__Icon + :not(.Polaris-Button__Icon) {
    margin-left: 0;
}

.speech.deprecate .Polaris-Badge {
    background-color: darkred;
    color: white;
}