.Polaris-Page {
    max-width: none;
}

.select2-container .select2-selection--single {
    border: 1px solid #c4cdd5;
    border-radius: 3px;
    margin-top: 4px;
    height: 36px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 36px;
    top: 4px;
}

.select2-container .select2-selection__rendered {
    padding-top: 3px;
    padding-bottom: 3px;
}

.select2-container .select2-selection--multiple {
    min-height: 36px;
    border-radius: 3px;
    border: 1px solid #c4cdd5;
    margin-top: 4px;
}

.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #5c6ac4;
    box-shadow: inset 0 0 0 0 transparent, 0 0 0 1px #5c6ac4;
}

.brand-select-box.error .select2-selection--single,
.brand-select-box.error .select2-selection--multiple,
.rich-text-box.error .mce-panel {
    border-color: red !important;
}

.account-connected .Polaris-AccountConnection__TermsOfService {
    margin-left: 56px !important;
}