.with-column-headers .Polaris-ResourceList__HeaderContentWrapper,
.with-column-headers .Polaris-ResourceList__AlternateToolWrapper {
    display: block !important;
    margin-left: 0;
}

.with-column-headers .Polaris-ResourceList__HeaderWrapper {
    min-height: 6.6rem !important;
}

.order-row {
    display: block;
}

.order-row.header .Polaris-Button__Content,
.order-row.item .col.number {
    font-weight: bold;
}

.order-row .col {
    overflow-x: hidden;
    display: inline-block;
    text-align: center;
    width: 16%;
}

.order-row.item .col {
    padding: 5px;
}

.order-row .col.total {
    text-align: right;
}

.header-actions {
    display: flex;
    flex-direction: row;
}

.layout-main-body-details {
    margin: 10px;
}

.vertical-alignment {
    display: flex;
    flex-direction: column;
}

.horizontal-alignment {
    display: flex;
    flex-direction: row;
}

.margin-status-text > div {
    margin-left: 10px;
    margin-bottom: 5px;
}

.display-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.margin-bottom-5px {
    margin-bottom: 5px;
}

.margin-right-8px {
    margin-right: 8px;
}

.align-items-center {
    align-items: center;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}